<!doctype html>
<html lang="en">
{% load static %}
 


{% load static %}

<div>
    <a href="{% url 'index' %}" input type="submit" value="home"><b>Home</b></a>
 </div>
<link rel="stylesheet" href="{% static 'style1.css' %}">
<div class="box">
        <div class="page">

            <div id="errorMsg"></div>
            <div class="content">
                <form onsubmit ="return  passwordValidation() && newpasswordValidation() && cpasswordValidation" action="{% url 'change_password' %}" method="post" align="center" id="logform" name="logform">
<!--                <form onsubmit="return resetValidate()" action="{% url 'change_password' %}" class="login" name="changeForm" onsubmit="return validateLoginForm()" method="POST">-->
                    {% include 'alert.html' %}
                    {% csrf_token %}
                    <input type="password" class="form-input" name="current_password" id="pass"  placeholder="Current Password" onkeyup='passwordValidation(this)' required/>
                    <span class="error-msg" id="password"></span><br>

                    <input type="password" class="form-input" name="new_password" id="pass1"  placeholder="New Password" onkeyup='newpasswordValidation(this)' required/>
                    <span class="error-msg" id="npassword"></span><br>
<!--                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password">-->
                    <input type="password" class="form-input" name="confirm_password" id="pass2"  placeholder="Confirm Password" onkeyup='cpasswordValidation(this)' required/>
                    <span class="error-msg" id="confirmpassword"></span><br>
                    <br><br>

                    <input type="submit" value="update">

                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

                </div>
                <div class="w3l_form align-self">
                    <div class="left_grid_info">
                        <img src="{% static '' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">

function passwordValidation(inputTxt){

    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
    var textField = document.getElementById("password");

    if(inputTxt.value != '' ){
            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";

            }else{
                textField.textContent = 'Must contain @, at least one number and one uppercase and lowercase letter and aleast 5 characters';
                textField.style.color = "red";
            }
    }else{
        textField.textContent = 'your input is empty';
        textField.style.color = "red";
    }
}
function newpasswordValidation(inputTxt){

    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
    var textField = document.getElementById("npassword");

    if(inputTxt.value != '' ){
            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";

            }else{
                textField.textContent = 'Must contain @,at least one number and one uppercase and lowercase letter and aleast 5 characters';
                textField.style.color = "red";
            }
    }else{
        textField.textContent = 'your input is empty';
        textField.style.color = "red";
    }
}
function cpasswordValidation(inputTxt){

	var regx =  document.getElementById("pass1").value;
	var regy =  document.getElementById("pass2").value;
	var textField = document.getElementById("confirmpassword");
	var textField1 = document.getElementById("password");

	if(inputTxt.value != '' ){
			if(regx == regy){
				textField.textContent = '';
				textField.style.color = "green";

			}else{
				textField.textContent = 'not match';
				textField.style.color = "red";
			}
		}else{
			textField.textContent = '';
			textField.style.color = "red";
		}
}
</script>



 
